<html>
    <head>
        <title>Elseidy's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Elseidy's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam placeat quam unde asperiores vero quibusdam iusto. Illo quod veniam beatae, iure tenetur debitis? Deleniti quibusdam labore rem magnam quae distinctio!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ullam totam qui, excepturi voluptatum officiis sit ab nam magni neque, odit assumenda inventore, aliquam architecto sapiente voluptas reprehenderit! Laboriosam, libero?</p>
        </div>
    </body>
</html>